<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--appender 是一个小的配置项，class 是处理需要使用的类-->
    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <!--layout 是输出的格式-->
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d - %msg%n</pattern>
        </layout>
    </appender>

    <!--整体 日志文件-->
    <!--滚动输出（隔一段时间输出一个文件）。因为并不是向控制台输出，所以从 layout 改为了 encoder-->
    <appender name="fileOverallLog">
        <!--输出的格式-->
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
        <!--滚动策略，以时间为单位进行滚动，每天一个日志文件-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径-->
            <fileNamePattern>/Users/qianshijie/logs/brother-takeaway/overall.%d.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <!--info 日志文件-->
    <appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--根据指定的级别，过滤输出-->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--<fileNamePattern>/var/log/tomcat/brother-takeaway/info.%d.log</fileNamePattern>-->
            <fileNamePattern>/Users/qianshijie/logs/brother-takeaway/info.%d.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <!--warn 日志文件-->
    <appender name="fileWarnLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--<fileNamePattern>/var/log/tomcat/brother-takeaway/warn.%d.log</fileNamePattern>-->
            <fileNamePattern>/Users/qianshijie/logs/brother-takeaway/warn.%d.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <!--error 日志文件-->
    <appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--<fileNamePattern>/var/log/tomcat/brother-takeaway/error.%d.log</fileNamePattern>-->
            <fileNamePattern>/Users/qianshijie/logs/brother-takeaway/error.%d.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <!--指定使用的配置项-->
    <root level="info">
        <appender-ref ref="consoleLog"/>
        <appender-ref ref="fileOverallLog"/>
        <appender-ref ref="fileInfoLog"/>
        <appender-ref ref="fileWarnLog"/>
        <appender-ref ref="fileErrorLog"/>
    </root>
</configuration>